<div id="container">
    <div class="inner">

        <header>
            <h1>FHIR Surveymonkey Tool</h1>
            <h2>Tool for Converting Survey Monkey Surveys into FHIR Questionaires {{title}}</h2>
        </header>

        <hr>

        <section id="main_content">
            <h3>
                <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Welcome to the Survey Monkey FHIR Tool.</h3>

            <p>Welcome to the tool used for converting Survey Monkey Suverys into FHIR Questionaires.This tool allows previous surveys created on each user's own Survey Monkey account to be converted into FHIR Questionaires.</p>

            <h3>
                <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Steps</h3>

            <p>There are a few steps required to complete this process: </p>

            <h3>
                <a id="creating-pages-manually" class="anchor" href="#creating-pages-manually" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>1. Login to your survey monkey account:</h3>

            <p>The tool will ask for your personal Survey Monkey login, so that you can access the survey of your choice.</p>

            <h3>
                <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>2. Pick the survey you wish to convert:</h3>

            <p>Pick the survey that you desire, and confirm your choice.</p>

            <h3>
                <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Completed!</h3>

            <p>The Survey will now become a FHIR Questionaire.</p>
        </section>

        <section id="downloads" class="clearfix">
            <a href="https://api.surveymonkey.net/oauth/authorize?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fselect.html&client_id=sm_grahameg_gmail_com&api_key=hxw4mq8t66cmhvg8rj6h8ffd" id="Start" class="button"><span>START</span></a>
        </section>

        <section id="disclaimer">
            <p> Note: This tool will only read surveys, and is not able to create Surveys on your behalf, but Survey Monkey does not support oauth scopes and therefore will ask for permission to do this.</p>
        </section>

        <footer>
            Fhir-surveymonkey-tool is maintained by <a href="https://github.com/melforhealthintersections">Mel Grieve</a><br>
        </footer>



    </div>
</div>
